.flag {
    vertical-align:middle;
    width: 16px;
    height: 11px;
    background:url(flags.png) no-repeat
}

#country > span {
    vertical-align:middle;
}
.flag.flag-AFG {background-position: -48px 0}
.flag.flag-AHO {background-position: -128px 0}
.flag.flag-ALB {background-position: -96px 0}
.flag.flag-ALG {background-position: -160px -33px}
.flag.flag-AND {background-position: -16px 0}
.flag.flag-ANG {background-position: -144px 0}
.flag.flag-ANT {background-position: -64px 0}
.flag.flag-ARG {background-position: -160px 0}
.flag.flag-ARM {background-position: -112px 0}
.flag.flag-ARU {background-position: -224px 0}
.flag.flag-ASA {background-position: -176px 0}
.flag.flag-AUS {background-position: -208px 0}
.flag.flag-AUT {background-position: -192px 0}
.flag.flag-AZE {background-position: -240px 0}
.flag.flag-BAH {background-position: -208px -11px}
.flag.flag-BAN {background-position: -32px -11px}
.flag.flag-BAR {background-position: -16px -11px}
.flag.flag-BDI {background-position: -112px -11px}
.flag.flag-BEL {background-position: -48px -11px}
.flag.flag-BEN {background-position: -128px -11px}
.flag.flag-BER {background-position: -144px -11px}
.flag.flag-BHU {background-position: -224px -11px}
.flag.flag-BIH {background-position: 0 -11px}
.flag.flag-BIZ {background-position: -32px -22px}
.flag.flag-BLR {background-position: -16px -22px}
.flag.flag-BOL {background-position: -176px -11px}
.flag.flag-BOT {background-position: 0 -22px}
.flag.flag-BRA {background-position: -192px -11px}
.flag.flag-BRN {background-position: -96px -11px}
.flag.flag-BRU {background-position: -160px -11px}
.flag.flag-BUL {background-position: -80px -11px}
.flag.flag-BUR {background-position: -64px -11px}
.flag.flag-CAF {background-position: -96px -22px}
.flag.flag-CAM {background-position: -64px -77px}
.flag.flag-CAN {background-position: -48px -22px}
.flag.flag-CAY {background-position: -192px -77px}
.flag.flag-CGO {background-position: -112px -22px}
.flag.flag-CHA {background-position: -112px -143px}
.flag.flag-CHI {background-position: -176px -22px}
.flag.flag-CHN {background-position: -208px -22px}
.flag.flag-CIV {background-position: -144px -22px}
.flag.flag-CMR {background-position: -192px -22px}
.flag.flag-COD {background-position: -80px -22px}
.flag.flag-COK {background-position: -160px -22px}
.flag.flag-COL {background-position: -224px -22px}
.flag.flag-COM {background-position: -96px -77px}
.flag.flag-CPV {background-position: -16px -33px}
.flag.flag-CRC {background-position: -240px -22px}
.flag.flag-CRO {background-position: 0 -66px}
.flag.flag-CUB {background-position: 0 -33px}
.flag.flag-CUW {background-position: -32px -33px}
.flag.flag-CYP {background-position: -48px -33px}
.flag.flag-CZE {background-position: -64px -33px}
.flag.flag-DEN {background-position: -112px -33px}
.flag.flag-DJI {background-position: -96px -33px}
.flag.flag-DMA {background-position: -128px -33px}
.flag.flag-DOM {background-position: -144px -33px}
.flag.flag-ECU {background-position: -176px -33px}
.flag.flag-EGY {background-position: -208px -33px}
.flag.flag-ERI {background-position: 0 -44px}
.flag.flag-ESA {background-position: -32px -143px}
.flag.flag-ESP {background-position: -16px -44px}
.flag.flag-EST {background-position: -192px -33px}
.flag.flag-ETH {background-position: -32px -44px}
.flag.flag-FAI {background-position: -128px -44px}
.flag.flag-FIJ {background-position: -80px -44px}
.flag.flag-FIN {background-position: -64px -44px}
.flag.flag-FRA {background-position: -144px -44px}
.flag.flag-FRO {background-position: -128px -44px}
.flag.flag-FSM {background-position: -112px -44px}
.flag.flag-GAB {background-position: -160px -44px}
.flag.flag-GAM {background-position: -48px -55px}
.flag.flag-GBR {background-position: -176px -44px}
.flag.flag-GBS {background-position: -176px -55px}
.flag.flag-GCI {background-position: -240px -44px}
.flag.flag-GEO {background-position: -208px -44px}
.flag.flag-GEQ {background-position: -96px -55px}
.flag.flag-GER {background-position: -80px -33px}
.flag.flag-GHA {background-position: 0 -55px}
.flag.flag-GRE {background-position: -112px -55px}
.flag.flag-GRN {background-position: -192px -44px}
.flag.flag-GUA {background-position: -144px -55px}
.flag.flag-GUI {background-position: -64px -55px}
.flag.flag-GUM {background-position: -160px -55px}
.flag.flag-GUY {background-position: -192px -55px}
.flag.flag-HAI {background-position: -16px -66px}
.flag.flag-HKG {background-position: -208px -55px}
.flag.flag-HON {background-position: -240px -55px}
.flag.flag-HUN {background-position: -32px -66px}
.flag.flag-INA {background-position: -64px -66px}
.flag.flag-IND {background-position: -128px -66px}
.flag.flag-IRI {background-position: -176px -66px}
.flag.flag-IRL {background-position: -80px -66px}
.flag.flag-IRQ {background-position: -160px -66px}
.flag.flag-ISL {background-position: -192px -66px}
.flag.flag-ISR {background-position: -96px -66px}
.flag.flag-ISV {background-position: -240px -154px}
.flag.flag-ISV {background-position: 0 -165px}
.flag.flag-ITA {background-position: -208px -66px}
.flag.flag-IVB {background-position: -240px -154px}
.flag.flag-JAM {background-position: -240px -66px}
.flag.flag-JCI {background-position: -224px -66px}
.flag.flag-JOR {background-position: 0 -77px}
.flag.flag-JPN {background-position: -16px -77px}
.flag.flag-KAZ {background-position: -208px -77px}
.flag.flag-KEN {background-position: -32px -77px}
.flag.flag-KGZ {background-position: -48px -77px}
.flag.flag-KIR {background-position: -80px -77px}
.flag.flag-KOR {background-position: -144px -77px}
.flag.flag-KOS {background-position: -96px -165px}
.flag.flag-KSA {background-position: 0 -132px}
.flag.flag-KUW {background-position: -176px -77px}
.flag.flag-LAO {background-position: -224px -77px}
.flag.flag-LAT {background-position: -112px -88px}
.flag.flag-LBA {background-position: -128px -88px}
.flag.flag-LBR {background-position: -48px -88px}
.flag.flag-LCA {background-position: 0 -88px}
.flag.flag-LES {background-position: -64px -88px}
.flag.flag-LIB {background-position: -240px -77px}
.flag.flag-LIE {background-position: -16px -88px}
.flag.flag-LTU {background-position: -80px -88px}
.flag.flag-LUX {background-position: -96px -88px}
.flag.flag-MAC {background-position: -48px -99px}
.flag.flag-MAD {background-position: -208px -88px}
.flag.flag-MAR {background-position: -144px -88px}
.flag.flag-MAS {background-position: -208px -99px}
.flag.flag-MAW {background-position: -176px -99px}
.flag.flag-MDA {background-position: -176px -88px}
.flag.flag-MDV {background-position: -160px -99px}
.flag.flag-MEX {background-position: -192px -99px}
.flag.flag-MGL {background-position: -32px -99px}
.flag.flag-MHL {background-position: -224px -88px}
.flag.flag-MKD {background-position: -240px -88px}
.flag.flag-MLI {background-position: 0 -99px}
.flag.flag-MLT {background-position: -128px -99px}
.flag.flag-MNE {background-position: -192px -88px}
.flag.flag-MON {background-position: -160px -88px}
.flag.flag-MOZ {background-position: -224px -99px}
.flag.flag-MRI {background-position: -144px -99px}
.flag.flag-MTN {background-position: -96px -99px}
.flag.flag-MYA {background-position: -16px -99px}
.flag.flag-NAM {background-position: -240px -99px}
.flag.flag-NCA {background-position: -64px -110px}
.flag.flag-NCL {background-position: 0 -110px}
.flag.flag-NED {background-position: -80px -110px}
.flag.flag-NEP {background-position: -112px -110px}
.flag.flag-NGR {background-position: -48px -110px}
.flag.flag-NIG {background-position: -16px -110px}
.flag.flag-NOR {background-position: -96px -110px}
.flag.flag-NRU {background-position: -128px -110px}
.flag.flag-NZL {background-position: -160px -110px}
.flag.flag-OMA {background-position: -176px -110px}
.flag.flag-PAK {background-position: -16px -121px}
.flag.flag-PAN {background-position: -192px -110px}
.flag.flag-PAR {background-position: -144px -121px}
.flag.flag-PER {background-position: -208px -110px}
.flag.flag-PHI {background-position: 0 -121px}
.flag.flag-PLE {background-position: -96px -121px}
.flag.flag-PLW {background-position: -128px -121px}
.flag.flag-PNG {background-position: -240px -110px}
.flag.flag-POL {background-position: -32px -121px}
.flag.flag-POR {background-position: -112px -121px}
.flag.flag-PRK {background-position: -128px -77px}
.flag.flag-PUR {background-position: -80px -121px}
.flag.flag-PYF {background-position: -224px -110px}
.flag.flag-QAT {background-position: -160px -121px}
.flag.flag-ROU {background-position: -192px -121px}
.flag.flag-RSA {background-position: -144px -165px}
.flag.flag-RUS {background-position: -224px -121px}
.flag.flag-RWA {background-position: -240px -121px}
.flag.flag-SAM {background-position: -80px -165px}
.flag.flag-SEN {background-position: -192px -132px}
.flag.flag-SEY {background-position: -32px -132px}
.flag.flag-SIN {background-position: -96px -132px}
.flag.flag-SKN {background-position: -112px -77px}
.flag.flag-SLE {background-position: -160px -132px}
.flag.flag-SLO {background-position: -128px -132px}
.flag.flag-SMR {background-position: -176px -132px}
.flag.flag-SOL {background-position: -16px -132px}
.flag.flag-SOM {background-position: -208px -132px}
.flag.flag-SRB {background-position: -208px -121px}
.flag.flag-SRI {background-position: -32px -88px}
.flag.flag-STP {background-position: -16px -143px}
.flag.flag-SUD {background-position: -64px -132px}
.flag.flag-SUI {background-position: -128px -22px}
.flag.flag-SUR {background-position: -240px -132px}
.flag.flag-SVK {background-position: -144px -132px}
.flag.flag-SWE {background-position: -80px -132px}
.flag.flag-SWZ {background-position: -80px -143px}
.flag.flag-SYR {background-position: -64px -143px}
.flag.flag-TAN {background-position: -80px -154px}
.flag.flag-TGA {background-position: 0 -154px}
.flag.flag-THA {background-position: -160px -143px}
.flag.flag-TJK {background-position: -176px -143px}
.flag.flag-TKM {background-position: -224px -143px}
.flag.flag-TLS {background-position: -208px -143px}
.flag.flag-TOG {background-position: -144px -143px}
.flag.flag-TPE {background-position: -64px -154px}
.flag.flag-TRI {background-position: -32px -154px}
.flag.flag-TUN {background-position: -240px -143px}
.flag.flag-TUR {background-position: -16px -154px}
.flag.flag-TUV {background-position: -48px -154px}
.flag.flag-UAE {background-position: -32px 0}
.flag.flag-UGA {background-position: -112px -154px}
.flag.flag-UKR {background-position: -96px -154px}
.flag.flag-URU {background-position: -160px -154px}
.flag.flag-USA {background-position: -144px -154px}
.flag.flag-UZB {background-position: -176px -154px}
.flag.flag-VAN {background-position: -32px -165px}
.flag.flag-VEN {background-position: -224px -154px}
.flag.flag-VIE {background-position: -16px -165px}
.flag.flag-VIN {background-position: -208px -154px}
.flag.flag-YEM {background-position: -112px -165px}
.flag.flag-ZAM {background-position: -176px -165px}
.flag.flag-ZIM {background-position: -192px -165px}
